<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OCR FOR REGIONAL LANGUAGES</title>
    <link href="{% static 'forms.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>

<body>  
    <div id="header" class="form-container">
        <h1>
            OCR for Regional Languages
        </h1>
        <h3>STEPS</h3>
        <p id="steps">Input image → Click submit → The detected and translated text are now visible!</p>
    </div>
    <div id="sidebar" class="form-container">
        <p style="color: #D8572A;">{{message}}</p>
        <form method="POST" enctype=multipart/form-data>
            {% csrf_token %}
            <label> Image Upload:</label>
            <input type="file" class="form-control" id="image" name="image" />
            <!--<input type="textbox" class="form-control" id="lang" name="lang"/>-->
            <label for="Lang">Choose Language:</label>
            <select name="lang" id="lang">
                <option value="blank" disabled selected hidden>Choose here</option>
                <option value="as">Assamese</option>
                <option value="bh">Bihari</option>
                <option value="bho">Bhojpuri</option>
                <option value="bn">Bengali</option>
                <option value="gom">Goan Konkani</option>
                <option value="hi">Hindi</option>
                <option value="kn">Kannada</option>
                <option value="mr">Marathi</option>
                <option value="ta">Tamil</option>
                <option value="te">Telugu</option>
                <option value="ur">Urdu</option>
            </select>
            <script type="text/javascript">
                document.getElementById('lang').value = "<?php echo $_GET['lang'];?>";
            </script>
            <br><br>
            <!--<input type="submit" value="Submit">-->
            <button id="ocr" class="button-primary" type="submit">Submit</button>
        </form>
        <audio controls preload="none">
            <source src="{% static '/audio/trans.wav' %}" type="audio/mpeg">
        </audio>
        <label>
            <h2>Detected Text:</h2>
        </label>
        <span class="textarea" role="textbox">{{det_text}}</span>
        <label>
            <h2>Translated Text:</h2>
        </label>
        <span class="textarea" role="textbox">{{translated_text}}</span><br>
    </div>
    <div id="footer" class="form-container">
        <h4>Made with 💛 by Angelica, Melita, Sushree and Shaun</h4>
    </div>
</body>

</html>
